@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

button:not(:disabled) {
  cursor: pointer;
}
